@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-container: #F2C3A7;
  --primary-text: #591902;
  --secondary-text: #BF6341;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--font-playfair-display);
  --font-libre-baskerville: var(--font-libre-baskerville);
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-playfair), Arial, Helvetica, sans-serif;
}
